*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore

# Built APKs in root or build folders
/app/build/
*.apk

# Kotlin
.kotlin
